@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700)

html, body
  font-family: 'Open Sans', sans-serif


.ordering
  font-weight: 700
  margin-top: 50px
  margin-bottom: 50px


  ul
    list-style-type: none
    text-align: center

    li
      display: inline-block
      margin: 0px 20px

      a
        text-decoration: none
        color: black
        transition: all 200ms ease-in-out

        &:hover
          color: #D24F5F

  hr
    height: 2px
    background-color: #F4F1F1
    border: none
    width: 60%


.all_wines
  margin: 0 auto

  .specific_wine
    background: #F6F6F6
    width: 250px
    border-radius: 5px
    overflow: hidden
    box-shadow: 4px 6px 10px #998D8D
    position: relative
    display: inline-block
    margin: 10px

    .numse
      height: 100%
      overflow: hidden
      background-position: center center
      background-repeat: no-repeat


      img
        width: 100%

    .wine_info

      h1
        text-align: center
        margin: 0
        font-size: 25px
        color: #372A2A
        font-weight: 300

        a
          text-decoration: none
          color: #372A2A

      hr
        border: none
        background-color: #E7E0E0
        width: 70%
        height: 1px

      p
        font-size: 15px
        color: #372A2A
        font-weight: 400
