.all_wines.transitions-enabled
  - @wines.each do |wine|
    .specific_wine
      .numse
        = image_tag wine.image.url(:medium)
      .wine_info
        %h1= wine.title
        %hr
        %p
          %b Description:
          = wine.description
